/* ############################################################### */
/* Fonts block start */
/* ############################################################### */

/* be-vietnam-pro-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/be-vietnam-pro-v10-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/be-vietnam-pro-v10-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* be-vietnam-pro-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/be-vietnam-pro-v10-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/be-vietnam-pro-v10-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* be-vietnam-pro-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/be-vietnam-pro-v10-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/be-vietnam-pro-v10-latin-600.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* be-vietnam-pro-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/be-vietnam-pro-v10-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/be-vietnam-pro-v10-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ############################################################### */
/* Fonts block end */
/* ############################################################### */


/* ############################################################### */
/* Reset block start */
/* ############################################################### */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

button {
    display: block;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ############################################################### */
/* Reset block end */
/* ############################################################### */


/* ############################################################### */
/* Main  block start */
/* ############################################################### */

body {
    color: white;
    background-color: black;
    font: 16px/28px 'Be Vietnam Pro', Arial, Helvetical, sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    transition: .5s;
    color: inherit;
}

button {
    background-color: transparent;
    transition: .5s;
    font: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.title-section {
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.btn-primary {
    background-color: #EE8313;
    padding: 12px 24px;
    font-weight: 600;
    color: white;
}

.btn-primary:hover {
    background-color: #be5f08;
}

.btn-secondary {
    border: 1px solid #EE8313;
    color: #EE8313;
    padding: 12px 24px;
    line-height: 24px;
    font-weight: 600;
}

.btn-secondary:hover {
    transform: scale(101%);
}

/* ############################################################### */
/* Main block end */
/* ############################################################### */


/* ############################################################### */
/* Header block start */
/* ############################################################### */

.header {
    padding: 40px 0 107px;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.header__nav-item-link {
    transition: .5s;
}

.header__nav-item-link:hover {
    color: #EE8313;
}

.header__logo-img,
footer__about-img {
    height: 48px;
    width: 48px;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
    gap: 48px;
}

.header__btn {
    margin-left: 72px;
}

/* ############################################################### */
/* Header block end */
/* ############################################################### */


/* ############################################################### */
/* Banner block start */
/* ############################################################### */

.banner {
    position: relative;
    overflow: hidden;
    padding-bottom: 60px;
}

.banner__wrapper {
    max-width: 475px;
    padding-top: 40px;
}

.banner-title {
    font-size: 52px;
    line-height: 64px;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.banner-text {
    margin-bottom: 48px;
    font-size: 17px;
    color: rgb(255 255 255 / 80%);
}

.banner__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    gap: 35px;
    align-items: center;
}

.banner__stats {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.banner__stats-text--strong {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-right: 16px;
    vertical-align: sub;
}

.banner__stats-text {
    font-weight: 600;
    line-height: 24px;
}

.banner__img {
    position: absolute;
    width: 55%;
    height: 100%;
    right: 0;
    top: 0;
}

.banner__img::before {
    position: absolute;
    content: '';
    width: 96%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background: url(../img/banner.png) no-repeat;
}

.banner__img::after {
    position: absolute;
    content: '';
    width: 75%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(52 52 52 / 30%);
}

/* ############################################################### */
/* Banner block end */
/* ############################################################### */


/* ############################################################### */
/* Rent car block start */
/* ############################################################### */

.rent-car {
    padding: 120px 0;
}

.rent-car__title {
    text-align: center;
}

.rent-car__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

.rent-car__card-name {
    position: absolute;
    top: 48px;
    left: 48px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 52px;
}

.rent-car__card-link {
    position: absolute;
    right: 60px;
    padding-right: 30px;
    bottom: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.rent-car__card-link::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 8px;
    height: 16px;
    background: url(../img/svg/arrow.svg) 50% / cover no-repeat;
    transform: translateY(-50%);
}

.rent-car__card {
    position: relative;
    height: 524px;
    background: url(../img/rent-car1.jpg) 50% / cover no-repeat;
}

.rent-car__card:nth-child(2) {
    background-image: url(../img/rent-car2.jpg);
}


.rent-car__card:nth-child(3) {
    background-image: url(../img/rent-car3.jpg);
}


.rent-car__card:nth-child(4) {
    background-image: url(../img/rent-car4.jpg);
}

/* ############################################################### */
/* Rent car block end */
/* ############################################################### */


/* ############################################################### */
/* Services block start */
/* ############################################################### */

.services {
    padding-bottom: 120px;
}

.services__title {
    margin-bottom: 66px;
}

.services__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.services__card-img {
    margin-bottom: 24px;
}

.services__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
}

.services__card-text {
    opacity: 0.8;
}

/* ############################################################### */
/* Services block end */
/* ############################################################### */


/* ############################################################### */
/* Popular places block start */
/* ############################################################### */

.popular-places {
    padding-bottom: 162px;
}

.popular-places__title {
    text-align: center;
    max-width: 591px;
    margin: 0 auto 40px;
}

.popular-places__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.popular-places__card {
    border: 1px solid #171717;
    background-color: #171717;
}

.popular-places__card-stats {
    padding: 24px;
}

.popular-places__card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.popular-places__card-text {
    opacity: 0.8;
    margin: 10px 0 25px;
}

.popular-places__card-price {
    position: relative;
    display: block;
    font-weight: 600;
    padding-left: 42px;
    margin-bottom: 17px;
}

.popular-places__card-price::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    background: url(../img/svg/mini-car.svg) no-repeat;
}

.popular-places__card-link {
    color: #EE8313;
}

.popular-places__card-link:hover {
    color: #be5f08;
}

/* ############################################################### */
/* Popular places block end */
/* ############################################################### */


/* ############################################################### */
/* Location block start */
/* ############################################################### */

.location {
    padding-bottom: 102px;
}

.location__title {
    text-align: center;
}

/* ############################################################### */
/* Location block end */
/* ############################################################### */


/* ############################################################### */
/* Footer block start */
/* ############################################################### */

.footer {
    padding-top: 40px;
    background-color: #1F1905;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.footer__logo-wrapper {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-bottom: 64px;
    gap: 17px;
}

.footer-about__text {
    max-width: 235px;
    font-size: 18px;
    line-height: 32px;
}

.footer__nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 40px 100px 0 auto;
    gap: 45px;
}

.footer__nav-column__header {
    margin-bottom: 32px;
    line-height: 20px;
    font-size: 18px;
}

.footer__nav-column__item {
    margin-bottom: 28px;
    line-height: 20px;
}

.footer__nav-column__link {
    opacity: 0.8;
}

.footer__nav-column__link:hover {
    color: #EE8313;
}

.footer__social-network {
    margin-top: 32px;
}

.footer__social-network-link {
    display: block;
    width: 120px;
    height: 30px;
    margin-bottom: 45px;
    background: url(../img/svg/social1.svg) 50% / cover no-repeat;
}

.footer__social-network-link:nth-child(2) {
    background-image: url(../img/svg/social2.svg);
}

.footer__social-network-link:nth-child(3) {
    background-image: url(../img/svg/social3.svg);
    margin-bottom: 0;
}

.footer__copyright- {
    padding: 20px 0;
    background-color: #EE8313;
}

.footer__copyright-text {
    text-align: center;
}

/* ############################################################### */
/* Footer block end */
/* ############################################################### */
